@model MVC_Project.Models.Product

@{
    ViewData["Title"] = "Create Product";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </div>

    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price"/>
        <span asp-validation-for="Price"></span>
    </div>

    <div>
        <label asp-for="Image"></label>
        <input asp-for="Image"/>
        <span asp-validation-for="Image"></span>
    </div>

    <div>
        <input type="submit" value="Create"/>
    </div>

</form>